.alert {
  width: 320px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: #5e5d5d;
  position: fixed;
  right: 20px;
  bottom: 40px;
  transform: translateX(120%);
  opacity: 0;
}
.alert.success {
  background-color: lightgreen;
}

.alert.error {
  background-color: lightcoral;
}
.show{
    animation: start  5s ease;
}
@keyframes start {
  0% {
    transform: translateX(120%);
    opacity: 0;
  }

  35% {
    transform: translateX(0);
    opacity: 1;
  }

  70% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(120%);
    opacity: 0;
  }
}