.alert {
  width: auto-fit;
  padding: 5px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: #5e5d5d;
  position: fixed;
  right: 20px;
  bottom: 40px;
  transform: translateX(120%);
  transition:
    transform 0.5s ease,
    opacity 0.5s ease;
  transform: translateX(120%);
  opacity: 0;
  visibility: hidden;
}
.alert.success {
  background-color: lightgreen;
}

.alert.error {
  background-color: lightcoral;
}
.alert.show {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
@keyframes start {
  0% {
    transform: translateX(120%);
    opacity: 0;
  }

  35% {
    transform: translateX(0);
    opacity: 1;
  }

  70% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(120%);
    opacity: 0;
  }
}
