* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(243, 244, 246);
  min-height: 100vh;
  padding: 15px;
  position: relative;
}

.login {
  width: 90%;
  max-width: 400px;
  min-height: 450px;
  display: flex;
  align-items: start;
  justify-content: space-around;
  flex-direction: column;
  background-color: rgb(254, 254, 254);
  padding: 25px;
  box-shadow: 0px 0px 11px 3px #00000045;
  border-radius: 10px;
  border-top: 6px solid rgb(24, 79, 189);
}

.login .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 30%;
  gap: 5px;
  width: 100%;
}
.login .head img {
  width: 65px;
  height: 65px;
  background-color: rgb(231, 235, 246);
  border-radius: 50%;
}
.login h2 {
  color: rgb(28, 25, 82);
}
.login .head p {
  font-size: 0.8rem;
  color: #ccc;
}
.login .inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 35%;
  gap: 10px;
  margin: 15px 0;
}
.login .inputs ~ button,
.login .inputs input {
  width: 100%;
  height: 45px;
  padding: 8px 10px;
  border-radius: 7px;
  outline: none;
  border: 2px solid #ccc;
  font-size: 1rem;
}
.inputs input#emailAddress,
.inputs input[type="file"] {
  grid-column: 1 / span 2;
}

.login .inputs input::placeholder {
  font-size: 1rem;
  font-weight: normal;
}
.login .inputs input:focus {
  border-color: rgb(141, 169, 245);
}
.login .inputs button {
  border: none;
  color: rgb(42, 97, 162);
  cursor: pointer;
}
.login .inputs ~ button {
  background-color: rgb(12, 71, 189);
  color: white;
  cursor: pointer;
  transition: 0.5s ease;
  box-shadow: 0px 0px 11px 3px #00000045;
}
.login .inputs ~ button:active {
  transform: translateY(2px);
  box-shadow: 0px 0px 11px 3px #00000045 inset;
}
.login .inputs ~ div {
  display: flex;
  gap: 3px;
  margin-top: 15px;
  font-size: 0.8rem;
  align-items: center;
  justify-content: center;
}
.login .inputs ~ div p {
  color: #ccc;
}
.login .inputs ~ div a {
  text-decoration: none;
  color: rgb(42, 97, 162);
  cursor: pointer;
}
@media (max-width: 400px) {
  .login {
    padding: 18px;
  }

  .login h2 {
    font-size: 1.3rem;
  }

  .login .inputs input,
  .login .inputs ~ button {
    height: 42px;
  }
  .login .inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .login .inputs ~ div {
    font-size: 0.7rem;
  }
}

#rePassword,
#password {
  position: relative;
}
.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px;
  height: 45px;
  border-radius: 7px;
  border: 2px solid #ccc;
  outline: none;
  font-size: 1rem;
}

.toggle-password {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #666;
  transition: color 0.3s;
}

.toggle-password:hover {
  color: rgb(12, 71, 189);
}

.toggle-password svg {
  display: block;
}

