body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
}

.header {
  text-align: center;
  padding: 40px 0;
}

.header h1 {
  font-size: 2.5em;
  margin: 0;
}

.stats {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.stat {
  text-align: center;
  width: 30%;
}

.stat h2 {
  font-size: 2.5rem;
  margin: 0;
}

.buttons {
  text-align: center;
  margin: 30px 0;
}

.button {
  background-color: rgb(64, 64, 212);
  padding: 15px 30px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  margin: 0 10px;
  transition: 0.3s;
}

.button:hover {
  background-color: rgb(33, 33, 139);
}
a {
  text-decoration: none;
  color: white;
}

.why-choose {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 50px;
  background-color: #e9ecef;
  gap: 40px;
}

.why-image {
  width: 40%;
}

.why-image img {
  width: 100%;
  border-radius: 12px;
}

.why-text {
  width: 55%;
}

.why-text h2 {
  font-size: 2em;
  margin-bottom: 25px;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feature {
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

@media (max-width: 768px) {
  .why-choose {
    flex-direction: column;
    text-align: center;
  }

  .why-image,
  .why-text {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .stat h2 {
    font-size: 1.5rem;
    margin: 0;
  }
}
